

    /* =========== Global Css Style  ===========*/
    /* ========================================== */

body, html {
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3, h4, h5, h6 , p {
    color: #464646;
}

.orange {
    background-color: #F8AB6B;
}

.gray {
    background-color: #E5E5E5;
}

.purple {
    background-color: #39478F;
}

.orangeText {
    color: #F87000;
}

.redText {
    color: #E33B39;
}

.yellowText {
    color: #FFC100;
}
.whiteText {
    color: white;
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}

.subTitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
.subTitleWhite {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
}

.secoundTitle {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
}

.imageStyle {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.miniContent {
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    color: white;
    max-width: 510px;
}
.about {
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    color: #464646;
}
.boldContent {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.smallContent {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}
.LargeContent {
    font-weight: 900;
    font-size: 48px;
    line-height: 65px;
    /* or 135% */

    letter-spacing: 0.045em;
}
.LargeContentWhite {
    font-weight: 900;
    font-size: 48px;
    line-height: 65px;
    /* or 135% */

    letter-spacing: 0.045em;
    color: white;
}

/* ========= Banner Style =========== */
.textPadding {
    padding: 110px 0px 0px 75px;
}
.bannerDiv {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
}

.topButton {
    max-width: 510px;
    text-align: center;
    height: 150px;
}

.tButton {
    background-color: #FACB4B;
    color: #292D32;
    width: 150px;
    height: 50px;
    border: 0;
    border-radius: 42px;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400; 
}
.pButton {
    background-color: #4E309A;
    padding: 10px 20px;
    border: 2px solid #FACB4B;
    border-radius: 30px;
    font-size: 15px;
    line-height: 22px;
    color: white;  
}

.sendImage {
    margin: 2px 0px 10px 0px !important;
}

.checkOut {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: white;
    padding-right: 60px;
}
/* ========= About Style =========== */

/* .leftImage , .rightImage {
    background-color: #C8C3FB !important;
} */


/* ========= Process Style =========== */
.leftSpace {
    padding-left: 110px;
}

.qButton {
    background-color: #4E309A;
    color: white;
    padding: 10px 25px;
    border: 0;
    border-radius: 30px;
    font-size: 25px;
    line-height: 38px;  
}
.wButton {
    background-color: #F8AB6B;
    padding: 10px 20px;
    border: 1px solid #4E309A;
    border-radius: 30px;
    font-size: 15px;
    line-height: 22px;
    color: #4E309A;  
}
.numberContent {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    background-color: #FFE1E5;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    text-align: center;
}
.numberCenter {
    margin: auto;
    padding: 5px;
}

/* ============== Service Style =========== */

.midContent {
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
}

.squareSpace {
    padding: 25px 0;
}

.rightContentBg {
    background-color: #D4CFFC;
    border-radius: 10px;
    width: 159px;
    margin: 10px auto;
}
.rightContentVideo {
    background-color: #D4CFFC;
    border-radius: 10px;
    margin: 10px auto;
    height: 345px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 260px;
}

.rightContent {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding: 10px 30px 0px;
}

/* ============== Affordable Style =========== */

.oButton {
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    background-color: #F87000;
    color: white;
    padding: 10px 50px;
    border: 0;
    border-radius: 30px;
}

/* ============== Footer Style =========== */

.menuLinkBlack {
    text-decoration: none;
    color: #464646;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
}
.menuLinkWhite {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
}

.iconBg {
    background-color: white;
    height: 24px;
    border-radius: 4px;
    max-width: 40px;
}


.subscription {
    position: relative;
    width: 100%;
    height: 12%;
  }
  
  .subscription .add-email{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 20px;
    border-radius: 25px;
    background-color: #FDF2D2;
  }
  
  .subscription .submit-email {
    position: absolute;
    top: 3px;
    right: 5px;
    height: calc(100% - 7px);
    width: 100px;
    border: none;
    border-radius: 60px;
    outline: none;
    margin: 1px;
    padding: 0 70px;
    cursor: pointer;
    background: #FDE5A5;
    color: #464646;
    transition: width .35s ease-in-out,
      background .35s ease-in-out;
  }
  
  .subscription.done .submit-email {
    width: calc(100% - 2px);
    background: #C0E02E;
  }
  
  .subscription .submit-email .before-submit,
  .subscription .submit-email .after-submit {
    position: absolute;
    top: 4px;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 38px;
    transition: visibility .35s ease-in-out,
      opacity .35s ease-in-out;
  }
  
  .subscription.done .submit-email .before-submit,
  .subscription:not(.done) .submit-email .after-submit {
    visibility: hidden;
    opacity: 0;
  }
  
  .subscription .submit-email .after-submit {
    transition-delay: .35s;
  }
  
  /* .subscription:not(.done) .submit-email .before-submit,
  .subscription.done .submit-email .after-submit {
    visibility: visible;
    opacity: 1;
  } */

  .test {
    max-width: 30%;
  }
  .aboutPosiTion {
    position: absolute;
    bottom: -87px;
    left: 45px;
  }
  .aboutImage {
    min-width: 90% !important;
  }

  .socialIcon {
    font-size: 20px;
    color: #464646;
    margin: -6px 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #FDE7EA;

  }
  .socialIcon:hover {
    color: white;
    background-color: #E33B39;
    transition: 0.5s ease-out;
  }

  .socialIconFooter {
    background-color:#FFC100;
    font-size: 15px;
    margin: 0px 5px;
    padding: 5px 10px;
    border-radius: 5px;
  }









  /* =============== ===========  ================*/
  /* =============== Media Query  ================*/
  /* =============== ===========  ================*/

  /* ========= Banner Style =========== */

  /* @media all and (min-width: 1024px) {
    .topButton {
        height: 442px;
    }
  } */

  @media all and (min-width: 1024px) and (max-width: 1280px) {
    
    /* Global Css Style  */
    /* ====================== */
    .LargeContentWhite {
        font-size: 40px;
        line-height: 55px;
    }
    .miniContent {
        max-width: 400px;
    }
    .title {
        font-size: 24px;
        line-height: 35px;
    }
    .boldContent {
        font-size: 16px;
        line-height: 22px;
    }

    /* ========================== */

    .textPadding {
        padding: 25px 0px 0px 25px;
    }
    
    .topButton {
        max-width: 365px;
        height: 80px;
    }
    
    .sendImage {
        margin: 2px 0px 10px 0px !important;
    }
    
    .checkOut {
        padding-right: 30px;
    }

    /*============== About Section  =================*/
    .aboutImage {
        min-width: 75% !important;
        min-height: 75% !important;
    }
    .aboutPosiTion {
        position: absolute;
        bottom: -65px;
        left: 45px;
    }
    
   }











   @media all and (max-width: 768px) { 

    .searchTop {
        display: none !important;
    }

    /* Global Css Style  */
    /* ====================== */
    .LargeContentWhite {
        font-size: 25px;
        line-height: 35px;
    }
    .miniContent {
        max-width: 300px;
    }
    .title {
        font-size: 24px;
        line-height: 35px;
    }
    .boldContent {
        font-size: 16px;
        line-height: 22px;
    }

    /* ========================== */

    .textPadding {
        padding: 25px 0px 0px 25px;
    }
    
    .topButton {
        max-width: 365px;
        height: 25px;
    }
    .tButton {
        display: none;
    }
    .pButton {
        display: none; 
    }

    .checkOut {
        display: none;
    }
    .aboutPosiTion {
        position: unset;
    }
    .aboutImage {
        min-width: 100% !important;
      }
      .subscription {
        position: relative;
        width: 100%;
        height: 23%;
    }
    }





    /* ========================== */
    @media all and (max-width: 480px) {
        .bannerDiv {
            display: none;
        }
        .miniContent {
            max-width: 100%;
        }
        .topButton {
            height: 100px;
        }
        .tButton {
            display: inline;
        }
        .pButton {
            display: inline; 
        }
    
        .checkOut {
            display: inline;
            padding-right: 30px;
        }
        .leftSpace {
            padding-left: 25px;
        }
        .subscription {
            position: relative;
            width: 100%;
            height: 12%;
          }
          
          .subscription .add-email{
            position: unset;
          }
          
          .subscription .submit-email {
            position: unset;
            width: 50%;
            display: block;
            margin: 10px auto;
            top: 0px;
            right: 0px;
            height: auto;
            padding: 0px;
          }
          
          .subscription.done .submit-email {
            width: calc(100% - 2px);
            background: #C0E02E;
          }
          
          .subscription .submit-email .before-submit,
          .subscription .submit-email .after-submit {
            position: unset;
          }
    }
    /* ========================== */
    @media all and (max-width: 320px) {

        /* Global Style CSS  */

        .secoundTitle {
            font-size: 23px;
            line-height: 32px;
        }
        .LargeContent {
            font-size: 35px;
            line-height: 45px;
        }

        /* ============================== */

        .bannerDiv {
            display: none;
        }
        .miniContent {
            max-width: 100%;
        }
        .topButton {
            height: 75px;
        }
        .tButton {
            display: none;
        }
        .pButton {
            display: none; 
        }
    
        .checkOut {
            display: none;
        }

        .wButton {
            padding: 10px 11px;
        }
        .qButton {
            padding: 10px 20px;
            font-size: 16px;
            line-height: 25px;
        }
        .leftSpace {
            padding-left: 25px;
        }




        .subscription {
            position: relative;
            width: 100%;
            height: 12%;
          }
          
          .subscription .add-email{
            position: unset;
          }
          
          .subscription .submit-email {
            position: unset;
            width: 50%;
            display: block;
            margin: 10px auto;
            top: 0px;
            right: 0px;
            height: auto;
            padding: 0px;
          }
          
          .subscription.done .submit-email {
            width: calc(100% - 2px);
            background: #C0E02E;
          }
          
          .subscription .submit-email .before-submit,
          .subscription .submit-email .after-submit {
            position: unset;
          }

          .numberCenter {
            padding: 0px;
        }
    }